.idea
.DS_Store
.history
.vscode/
/build/
/vendor/
/node_modules/
/release/
/test-results/
/playwright-report/
/playwright/.cache/
/.phpunit.cache/
.phpunit.result.cache
/unit-test-report/
*.env
*.tmp
*.zip
.npmrc