#airwallex-card{
    max-width:100%;
    border: 1px solid rgb(217, 217, 217);
    width: 100%;
    margin-left: 0;
    box-shadow: none;
    background: white;
    padding: 15px 12px;
    border-radius: 5px;    
    box-sizing: border-box;
}

#airwallex-card iframe{
    width: 100% !important;
}

label[for="payment_method_airwallex_card"] > img, .airwallex-card-icon{
    max-height: 1.5em;
}

.airwallex-card-icon{
    margin:0 2px;
}
