#airwallex-card{
    max-width:100%;
    border: 1px solid rgb(217, 217, 217);
    width: 100%;
    margin-left: 0;
    box-shadow: none;
    background: white;
    padding: 15px 12px;
    border-radius: 5px;    
}